@font-face {
	font-family: "MrRobot";
	font-style: normal;
	font-weight: normal;
	src: local("MrRobot"), url("mrrobot.woff") format("woff");
}

body {
	color: #fff;
	background-color: #000;
	font-family: "Open Sans", sans-serif;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.logo {
	text-align: center;
}

.logo h1 {
	font-family: "MrRobot";
	font-size: 128px;
	font-weight: 400;
	color: red;
	margin: 35px 0 5px 0;
}

.logo p {
	font-size: 18px;
	font-weight: 400;
	color: red;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

nav {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 20px 0;
}

.menu {
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.menu li {
	padding: 0;
	margin: 0 8px;
	list-style-type: none;
	font-size: 18px;
	min-height: 35px;
	line-height: 200%;
	display: inline-block;
}

.menu a {
	color: #fff;
	text-decoration: none;
	display: block;
}

.menu a:hover {
	color: red;
}

a.active {
	color: red;
	cursor: default;
}

footer {
	margin-top: 30px;
	padding: 15px 0;
	border-top: 1px solid white;
	text-align: center;
	letter-spacing: 1px;
}

.photo {
	width: 144px;
	height: 144px;
	border: 3px solid white;
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 20px;
}

.description {
	display: inline-block;
	width: 700px;
	text-align: justify;
}
