
.icon-user:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
