body {
    margin: 0px;
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    width: 960px;
    margin: 20px;
    text-align: center;
}

#logo {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 70px;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#zegar {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.square {
    width: 50%;
    float: left;
}

.tile1 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d3;
    float: left;
    text-align: center;
    cursor: pointer;
}

.tile1:hover {
    background-color: #2084c2;
}

.tile2 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
    cursor: pointer;
}

.tile2:hover {
    background-color: #555555;
}

.tile3 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
    cursor: pointer;
}

.tile3:hover {
    background-color: #82b637;
}

.tile4 {
    margin: 10px;
    width: 420px;
    height: 82px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 16px;
    padding: 30px;
}

.tile5 {
    margin: 10px;
    width: 440px;
    height: 264px;
    background-color: #666666;
    text-align: justify;
    padding: 20px;
}

.yt {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #d94348;
    float: left;
    cursor: pointer;
}

.yt:hover {
    background-color: #c83237;
}

.fb {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #4668b3;
    float: left;
    cursor: pointer;
}

.fb:hover {
    background-color: #3557c2;
}

.git {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: black;
    float: left;
    cursor: pointer;
}

.git:hover {
    background-color: #111111;
}

.twitter {
    margin: 10px;
    width: 105px;
    height: 142px;
    background-color: #3085d3;
    float: left;
    cursor: pointer;
}

.twitter:hover {
    background-color: #2074c2;
}

a.tilelink {
    color: white;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
}

a.sociallink {
    color: white;
    text-decoration: none;
    display: block;
    width: 105px;
    height: 142px;
}

a.toMainlink {
    color: white;
    text-decoration: none;
}